*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, black,blue);

}
.calculator{
    border: 1px solid rgba(53, 51, 51, 0.936);
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px gray;
}